body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #111;
}

#scene {
  width: 1000px;
  height: 600px;
  position: relative;
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#textBox {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 24px;
  z-index: 10;
}

#imageButton {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 180px;
  cursor: pointer;
  z-index: 10;
}

/* Hidden at start */
#gear, #bolt, #spring, #nut {
  display: none;
  position: absolute;
  cursor: pointer;
}

/* Size + position each item */
#gear {
  width: 140px;
  top: 280px;
  left: 180px;
}

#bolt {
  width: 120px;
  top: 330px;
  left: 340px;
}

#spring {
  width: 120px;
  top: 290px;
  left: 520px;
}

#nut {
  width: 130px;
  top: 250px;
  left: 720px;
}