body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #111;
}

#scene {
  width: 1000px;
  height: 600px;
  position: relative;
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#textBox {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 24px;
  z-index: 10;
}

#imageButton {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 180px;
  cursor: pointer;
  width: 200px;
  height: auto;
}
#gear{
  position: absolute;
  top: 520px;
  left: 730px;
  width: 80px;
}

/* Hidden at start */
#gear, #bolt, #spring, #nut {
  display: none;
  position: absolute;
  top: 740px;
  left: 1670px;
  width: 60px;
}

/* Size + position each item */
#gear {
  width: 25px;
  top: 400px;
  left: 300px;
}

#bolt {
  width: 28px;
  top: 228px;
  left: 635px;
}

#spring {
  width: 30px;
  top: 300px;
  left: 175px;
}

#nut {
  width: 17px;
  top: 390px;
  left: 1270px;
}

#scene {
  width: 1500px;
  height: 800px;
  position: relative;
  background-size: cover;
}